@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family:"Open Sans", "Montserrat" ;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.bg {
  background: url('../assets/img/agree.png')
  no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left:-30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: rgb(233, 147, 147);
}